* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.2)5%, rgba(0,0,0,0.2)5%), url(images/Pic.jpeg);
  background-position: center;
  background-size: cover;
  height: 109vh;
}



.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* full height of viewport */
  background-color: #f2f2f2;
  margin: 0; /* remove default spacing */
}


form {
  background-color: rgba(245, 245, 245, 0.938);
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 450px;
  width: 50%;
  margin-left: 430px;
  position: relative;


}

.h2{
    text-align: center;
}      

/* Group spacing */
.form-group {
  margin-bottom: 20px;
}

/* Labels and inputs */
label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #444;
}

input[type="text"] {
  width: 99%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Row: for 2 items side-by-side */
.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.row .form-group {
  flex: 1;
  min-width: 200px;
}

/* proceed to Payment submit button*/
input[type="submit"] {
margin-top: 20px;
width: 50%;
background-color: rgb(228, 201, 201);
padding: 12px;
border: none;
border-radius: 6px;
cursor: pointer;
font-size: 16px;
}

input[type="submit"]:hover {
background-color: #c47979; /* darker shade */
color: #fff;
}








